In [16]:
import xarray as xr
import pandas as pd

In [2]:
local_scrh_folder='/net/pc200021/nobackup_1/users/muntjewe/'
diri=f'{local_scrh_folder}/LENTIS/lproc/ERA/'

In [65]:
country='NL'
lat = 52.37403
lon = 4.88969

vars = ['tmax'] 
years = [1951, 1952, 1953, 2021, 2022, 2023]

In [66]:
for var in vars:
    if var == 'tp':
        scale_factor = 60*60*24
        subtract = 0
        units = 'mm/dag'
    elif var == 'tmax':
        scale_factor = 1
        subtract = 273.15
        units = 'graden C'            
    else: 
        scale_factor = 1
        subtract = 0

    ERA5_maxima = []
    ERA5_year = []

    for year in years:
        fili = f'era5_tmax_ECE3grid_{year}.nc'
        ds=xr.open_dataset(diri+fili).sel(lat=lat,lon=lon, method='nearest')

        df = ds.to_dataframe()
        ds.close()

        df.reset_index(inplace=True)
        df['year'] = df.time.map(lambda x: x.year)
        df_max = df.loc[df.groupby(["year"])[var].idxmax()]

        year_max = df_max[var] * scale_factor - subtract
        ERA5_maxima.append(year_max.values[0])
        ERA5_year.append(df['year'][0])

In [67]:
df_ERA = pd.DataFrame([ERA5_year,ERA5_maxima]).T
df_ERA.columns = ['year', 'maximum day temperature of the year']

In [68]:
df_ERA

     year  maximum day temperature of the year
0  1951.0                            28.068115
1  1952.0                            29.764832
2  1953.0                            28.524139
3  2021.0                            28.514038
4  2022.0                            33.989044
5  2023.0                            30.726807

In [69]:
df_ERA.to_latex()

'\\begin{tabular}{lrr}\n\\toprule\n{} &    year &  maximum day temperature of the year \\\\\n\\midrule\n0 &  1951.0 &                            28.068115 \\\\\n1 &  1952.0 &                            29.764832 \\\\\n2 &  1953.0 &                            28.524139 \\\\\n3 &  2021.0 &                            28.514038 \\\\\n4 &  2022.0 &                            33.989044 \\\\\n5 &  2023.0 &                            30.726807 \\\\\n\\bottomrule\n\\end{tabular}\n'